<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Photo Album</title>
	<link href="https://img.icons8.com/dusk/64/000000/healthy-food.png" rel="icon">
	<link href="../public/stylesheets/website.css" rel="stylesheet" type="text/css">
     <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script src="/galleria/galleria-1.5.7.min.js"></script>
      <script type='text/javascript' src='/javascripts/page.js'></script>
</head>
<body>
	<div class="header_container" id="header_container">
		<div class="header_links" id="header_links">
			<a class="active" href="#home">Home</a> <a href="#contact">Contact</a> <a href="#about">About</a>
		</div>
	</div>
	<div class="content_container" id="content_container">
		<h1>Memories</h1>
		<div class="tile_container" id="tile_container">
			<div class="tile" id="tile">
				<div class="tile_content" id="tile_content">
					<a href="gallery.hbs"><img alt="green up arrow" src="../styles/icons/icons8-long-arrow-up-100.png" title="green up arrow"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" id="footer">
		<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by rawpixel.com - www.freepik.com</a><br>
		<a href="https://icons8.com/icon/68087/healthy-food">Icons made by Icons8</a>
	</div>
</body>
</html>

